*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.heading{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.heading h2{
  color: whitesmoke;
  
}

main{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card-container{
  width: 320px;
  height: 388px;
  background: linear-gradient(to bottom left, #7E8CAB, #A7AFC0,#94A0B8);
  border-radius: 13px;
  text-align: center;
}

.card-container .note{
  margin-top: 25px;
  font-weight: bold;
  color: #4C4C4C;
}

.card-container hr{
  border-color: #4C4C4C;
  width: 260px;
}

.card-container .input-box{
  margin-top: 50px;
}

.card-container .input-box input{
  width: 245px;
  padding: 8px;
  border-radius: 8px;
  border-color: #F3F5F9;
  border-style: solid;
  text-align: center;
  background-color: #F3F5F9;
}

.card-container .ins-text{
  margin-bottom: 0;
  margin-top: 70px;
}

.card-container .ins-text button{
  color: #4C4C4C;
}

