<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Crimi AI | Aagal</title>
  <link rel="stylesheet" href="./static/style.css">
</head>

<body>
  <div class="container">
    <header>
      <div class="heading">
        <h2>Welcome to Crimi AI</h2>
      </div>
    </header>
    <main>
      <div class="card-container">
       <div class="note">
         <p>Enter your name here</p>
       </div>
       <hr>
       <div class="input-box">
         <form method="post" action="/chat">
            <input type="text" placeholder="Name..." name="username">
            <button type="submit" style="display: none"></button>
         </form>
       </div>
       <div class="ins-text">
         <p>Press enter to continue</p>
       </div>
      </div>
    </main>
  </div>
</body>

</html>